html{background: #313131;}
a{text-decoration: none; color: #ffffff}
body {
	margin: 0 auto;
	background: #212121;
	color: #ffffff;
	min-width: 320px;
    font-family: 'CircularBook', sans-serif;
}
#content {
	display: none;
}
#main-screen {
    padding: 40px 0;
    height: 100vh;
    max-height: 768px;
	min-height: 650px;
    transition: 0.3s;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
#main-area {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 570px;
}
.tracks {
    position: relative;
	clear: both;
	max-width: 850px;
	margin: auto;
}
.track {
    height: 60px;
    box-sizing: border-box;
	border-bottom: 2px solid #313131;
	cursor: pointer;
}
.track.on {
	background: #313131;
}
.cover-download {
    height: 300px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    position: relative;
}
.cover {
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
	transition: 0.3s;
	cursor: pointer;
}
.cover.center {
    z-index: 1 !important;
    width: 300px !important;
    right: 0 !important;
    left: 0 !important;
    bottom: auto !important;
	-webkit-box-shadow: 0 30px 30px 20px rgba(0, 0, 0, 0.18823529411764706);
	-moz-box-shadow: 0 30px 20px 30px rgba(0, 0, 0, 0.18823529411764706);
	box-shadow: 0 30px 30px 20px rgba(0, 0, 0, 0.18823529411764706);
	opacity: 1 !important;
}
.cover.one {
    z-index: 1;
    right: 0;
    left: 0;
    bottom: auto;
}
.cover.two {
    width: 275px;
    left: -300px;
    right: 0;
	opacity: 0.5;
}
.cover.three {
    width: 275px;
    right: -300px;
    left: 0;
	opacity: 0.5;
}
.cover.left, .cover.right  {
    z-index: 0;
    width: 275px;
    bottom: 0;
    box-shadow: none;
	opacity: 0.5;
}
.cover.left {
    left: -300px;
    right: 0;
}
.cover.right {
    right: -300px;
    left: 0;
}
.song, .number, .time {
	float: left;
}
.song, .artist {
	padding-top: 13px;
}
.track .song {
    width: calc(100% - 24%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'CircularBlack', sans-serif;
    font-size: 16px;
    padding: 11px 10px 11px 15px;
    box-sizing: border-box;
}
.track .song .artist {
	font-family: 'CircularBook', sans-serif;
}
.track .song .mashumix {
	font-family: 'CircularBook', sans-serif;
    color: #bbbbbb;
	font-size: 14px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track .number {
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    color: #bbbbbb;
	border-right: 2px solid #313131;
}
.track .time {
    width: 13%;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
	float: right;
    color: #bbbbbb;
	font-size: 14px;
	border-left: 2px solid #313131;
}
.track.three {border: none;}
#download {
    text-align: center;
    letter-spacing: 2px;
    background: #24cf5f;
    position: absolute;
    width: 300px;
    font-family: 'CircularBook', sans-serif;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
}
#download:after {
	content: '';
    position: absolute;
    border-bottom: 13px solid #24cf5f;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    top: -13px;
    left: calc(50% - 13px);
}
#footer {
    height: 104px;
    background: #e8e8e8;
    padding: 50px 0;
}
.footer {
    height: 100px;
    width: 300px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-family: 'Fjalla One', sans-serif;
    font-size: 13px;
	text-transform: uppercase;
	max-width: 850px;
    margin: auto;
}
.footer, .footer a {
	color: #615b5b;
}
#footer #logo {
    width: 25%;
    height: 100px;
    border-right: 2px solid;
    float: left;
    box-sizing: border-box;
	padding: 18px 45px;
}
#where {
    float: left;
    width: 75%;
    border-bottom: 2px solid;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
}
.youtube, .spotify {
    float: left;
    text-align: center;
    width: 35%;
    box-sizing: border-box;
	margin-top: -1px;
	cursor: pointer;
}
.youtube {
    border-right: 1px solid;
}
.spotify {
    border-left: 1px solid;
    border-right: 1px solid;
}
#powered {
    line-height: 50px;
}
.by {
    float: left;
    width: 75%;
    box-sizing: border-box;
    text-align: right;
}
.year {
    float: right;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px solid;
    margin-top: -1px;
	cursor: pointer;
}
.controls {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
	z-index: 1;
	cursor: pointer;
}
.controls.bg {
    background: rgba(0, 0, 0, 0.31);
}
.play.yes {
	width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 75px;
    border: 3px solid;
    border-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
	cursor: pointer;
    background: none;
}
.play {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: initial;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #24cf5f;
}
.play.playing {
	background-image: url(../img/playing.gif);
    background-repeat: no-repeat;
    background-size: 20px;
    color: transparent !important;
    background-position: center;
}
.seek-bar {
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    height: 10px;
    z-index: 2;
}
.seek-bar .progress-bar {
	width: 100%;
	height: 100%;
    background: #24cf5f;
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	     -o-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 0;
	   -moz-transform-origin: 0;
	    -ms-transform-origin: 0;
	     -o-transform-origin: 0;
	        transform-origin: 0;
	-webkit-transition: transform 0.2s;
	   -moz-transition: transform 0.2s;
	    -ms-transition: transform 0.2s;
	     -o-transition: transform 0.2s;
	        transition: transform 0.2s;
}
.controls .load.loading {
	border: 3px solid #ffffff;
    border-radius: 50%;
    border-top: 3px solid transparent;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    left: -3px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff;
    position: absolute;
}

/* media */

@media (max-width: 820px) {
	#footer #logo {
		padding: 18px 35px;
	}
}
@media (max-width: 720px) {
	#footer #logo {
		padding: 18px 25px;
	}
}
@media (max-width: 620px) {
	#footer #logo {
		padding: 18px 15px;
	}
}
@media (max-width: 520px) {
	#footer #logo {
		padding: 20px 10px;
	}
}


@media (min-width: 360px) {
	.footer {
		width: auto;
	}
	#footer {
		padding: 50px 30px;
	}
}
@media (min-width: 460px) {
	.footer {
    letter-spacing: 1px;
}
}
@media (min-width: 620px) {
	.footer {
    letter-spacing: 2px;
}
}
@media only screen and (min-width: 800px) {
	.track:hover {
		background: #262626;
	}
	.track.on:hover {
		background: #313131;
	}
	#download:hover {
		font-family: 'CircularBlack', sans-serif;
	}
	#where div:hover {
		background: #615b5b;
		color: #e8e8e8;
		border-color: #615b5b;
	}
}
