#loader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    cursor: wait;
}
#loader {
    position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
    background: url(../img/loader.gif) #313131 no-repeat;
    background-size: 75px;
    width: 75px;
    height: 75px;
}
html{background: #313131;}
a{text-decoration: none; color: #ffffff}
body {
	margin: 0 auto;
	background: #212121;
	color: #ffffff;
	min-width: 320px;
	max-width: 1000px;
    font-family: 'CircularBook', sans-serif;
}
#content {
	display: none;
}
.tracks {
    position: relative;
	clear: both;
	background: #000000;
}
.track {
    height: 60px;
    box-sizing: border-box;
	background: #212121;
	border-bottom: 1px solid #313131;
}
.track.on {
	background: #313131;
}
#cover {
	padding: 40px 30px 0px 30px;
	max-width: 300px;
    margin: auto;
}
.cover {
	width: 100%;
	max-width: 300px;
}
.song, .number, .time {
	float: left;
}
.song, .artist {
	padding-top: 13px;
}
.track .song {
    width: calc(100% - 28%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'CircularBlack', sans-serif;
    font-size: 16px;
    padding: 11px 10px 11px 0px;
    box-sizing: border-box;
}
.track .song .artist {
	font-family: 'CircularBook', sans-serif;
}
.track .song .mashumix {
	font-family: 'CircularBook', sans-serif;
    color: #bbbbbb;
	font-size: 14px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track .number {
    width: 12%;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center;
    line-height: 60px;
    color: #bbbbbb;
}
.track .time {
    width: 16%;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center;
    line-height: 60px;
	float: right;
    color: #bbbbbb;
	font-size: 14px;
}
#download {
    text-align: center;
    padding: 15px;
    letter-spacing: 2px;
    margin: -5px 30px 40px 30px;
    background: #24cf5f;
	position: relative;
	max-width: 300px;
    box-sizing: border-box;
    font-family: 'CircularBook', sans-serif;
}
#download:after {
	content: '';
    position: absolute;
    border-bottom: 13px solid #24cf5f;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    top: -13px;
    left: calc(50% - 13px);
}
#footer {
    height: 104px;
    background: #111111;
    padding: 40px 10px;
    margin-top: 40px;
}
.footer {
    height: 100px;
    border: 2px solid #bbbbbb;
    font-family: 'Fjalla One', sans-serif;
    font-size: 13px;
	text-transform: uppercase;
	max-width: 850px;
    margin: auto;
}
#logo {
    background: url(../img/logo.png) no-repeat;
    background-size: 75px;
    background-position: center;
    width: 30%;
    height: 100px;
    border-right: 2px solid #bbbbbb;
    float: left;
    box-sizing: border-box;
}
#where {
    float: left;
    width: 70%;
    border-bottom: 2px solid #bbbbbb;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
}
.youtube {
    float: left;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #bbbbbb;
}
.spotify {
    float: right;
    text-align: center;
    width: 50%;
    border-left: 1px solid #bbbbbb;
    box-sizing: border-box;
}
#powered {
    line-height: 50px;
}
.by {
    float: left;
    width: 55%;
    box-sizing: border-box;
    border-right: 1px solid #bbbbbb;
    text-align: center;
}
.year {
    float: right;
    text-align: center;
    width: 15%;
    box-sizing: border-box;
    border-left: 1px solid #bbbbbb;
}
.controls {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40px;
    margin: auto;
    left: 0;
    right: 0;
}
.controls.bg {
    background: rgba(0, 0, 0, 0.31);
}
.play {
	width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 75px;
    border: 3px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
	transition: 0.2s;
}
.play.yes {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: initial;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    background: #24cf5f;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.play.playing {
	background-image: url(../img/playing.gif);
    background-repeat: no-repeat;
    background-size: 20px;
    color: transparent !important;
    background-position: center;
}
.seek-bar {
	position: fixed;
    top: 0;
    width: 100%;
    height: 10px;
    z-index: 2;
}
.seek-bar .progress-bar {
	width: 100%;
	height: 100%;
    background: #24cf5f;
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	     -o-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 0;
	   -moz-transform-origin: 0;
	    -ms-transform-origin: 0;
	     -o-transform-origin: 0;
	        transform-origin: 0;
	-webkit-transition: transform 0.2s;
	   -moz-transition: transform 0.2s;
	    -ms-transition: transform 0.2s;
	     -o-transition: transform 0.2s;
	        transition: transform 0.2s;
}
.controls .load.loading {
    border: 5px solid;
    border-radius: 50%;
    border-top: 5px solid transparent;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff;
    position: absolute;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
